/src/TesteReferencia.java
/out/production/EstudosOO/Carro.class
/src/RetornoObjeto/IndiceMassaCorporal.java
/.idea/misc.xml
/out/production/EstudosOO/Principal.class
/.idea/shelf/Uncommitted_changes_before_Update_at_12_07_2022_16_26_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_12_07_2022_16_26__Changes_.xml
/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_12_07_2022_16_26_[Changes]/shelved.patch
